body {
  width: 100px;
  /*height:200px;*/
}

#container h2 {
  background: #0f0;
  height: 300px;
}

#container p {
  background: #ccc;
  padding-top: 20px;
  padding-bottom: 30px;
}

#container a {
  color: #f00;
}

#container a:hover {
  color: #0f0;
}

#container a .b {
  color: #ccc;
}

.arrow {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top: 30px solid #000;
}
