.header-box{
    height: 50px;
    background: #1C1B20 ;
    color: #fff;
    font-size: 16px;
    display: flex;
}
.location-box{
    width:2.42rem;
    overflow: hidden;
    line-height: 50px;
}
.search-box{
    flex:1;
    height: 30px;
    border-radius:15px ;
    background: #fff;
    margin-top:10px;
    margin-right: 10px;
}
.search-box .icon-soushuo{
    color:#1C1B20;
    float: left;
    margin:8px 0 0 10px
    /* margin */
}
.search-box input{
    float: left;
    width:2.8rem;;
    height: 30px;
    border: none;
    outline: none;
    margin-left:5px;
}
/* .search-box input */
/* 分类列表 */
.cate-box{
    display: flex;
    flex-wrap: wrap;
}
.cate-list{
    width: 20%;
    text-align: center;
    color: #333;
    font-size: 11px;
}
.cate-list img{
    width:44px;
    height:44px;
    margin-top:14px;
}
/* 商家 */
.store-title{
    text-align: center;
    height: 0.46rem;
    line-height: 0.456rem;
    margin:0.3rem 0 0.1rem 0;
    color: #333;
    font-size: 17px;
}
.store-title::before,.store-title::after{
    content:"";
    display: inline-block;
    width:33px;
    height: 1px;
    background:#666;
    vertical-align: middle;
    transform: scaleY(0.5);
}
.store-list-box{
    padding: 0 0.2rem;
}
.store-list{
    display: flex;
    margin:0.2rem 0 0.5rem 0;
}
.img-box{
    width:1.52rem;
    margin-right: 0.2rem;
}

.store-list img{
    width:1.52rem;
    height:1.14rem;
    display: block;
    /* border: 1px solid #e4e4e4; */
}
.info-box{
    flex:1;
}
.info-box .title{
    font-size: 16px;
    color: #333;
}
.info-box .time{
    color: #333;
    font-size: 11px;
}
.info-box .num{
    float: left;
}
.info-box .minute{
    float: right;
}
.info-box .delivery span{
    font-size: 11px;
    color: #333;
    line-height: 1.4;
}
.line::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width:1px;
    height:6px;
    margin:0 5px;
    background: #ccc;
}